<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1 class="text-info">
  <%= @list.name %>
</h1>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to selectitems_list_path(@list), :class=>"btn btn-sm btn-outline-primary" do %><%= fa_icon "list" %> Auswählen <% end %>
  <%= link_to edit_list_path(@list), :class=>"btn btn-sm btn-outline-secondary" do %><%= fa_icon "edit" %> Ändern <% end %>
  <%= link_to @list, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-sm btn-outline-danger" do %><%= fa_icon "trash" %> Löschen<% end %>
</div>

<br/><br/>

<div class="list-group sticky-top">
  <% list_items = ListItem.where(list_id: @list.id) %>
  <% if list_items.size == 0 %>
    Die Liste ist leer.
  <% else %>
    <% list_items.each do |list_item| %>
      <% item = current_user.items.find(list_item.item_id) %>
      <div class="list-group-item">        
        <%= link_to item, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>
        
        <b>
          <%= klarschiff_auto_link(item.name) %>
        </b>

        <%= link_to removeItem_list_path({ :item_id => item.id }), :method => :delete, :class => "btn btn-sm btn-outline-danger float-right" do %><%= fa_icon "trash" %><% end %>
        <br/>
        <!--
        <% if item.tags.size > 0 %>
        Tags: 
        <% item.tags.each do |tag| %>
          <span class="badge badge-pill badge-light"><i>#<%= tag.name %></i></span>
        <% end %>
        <br/>
        <% end %>
        Owners: 
        <% item.owner_list.each do |owner| %>
          <span class="badge badge-pill badge-light"><span>@<%= owner %></span></span>
        <% end %>
        <br/>        
        -->

        <small>
          Ablage: <%= link_to item.storage.name, item.storage %> Raum: <%= link_to item.storage.room.name, item.storage.room %>
        </small>
      </div>
    <% end %>
  <% end %>
</div>

