
<div class="modal fade" id="modal-<%= model.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-<%= model.id %>" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= model.name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <% if model.images.first %>
                <img src="<%= url_for(model.images.first.variant(resize_to_limit: [1200, 1000], auto_orient: true).processed) %>" class="img-thumbnail mx-3 float-right" alt="...">
            <% else %>
                <% if model.class == Building %>
                    <%= image_tag('house_placeholder.jpg', :width => "100%") %>
                <% elsif model.class == Room %>
                    <%= image_tag('room_placeholder.jpg', :width => "100%") %>
                <% elsif model.class == Storage %>
                    <%= image_tag('storage_placeholder.jpg', :width => "100%") %>
                <% elsif model.class == Item %>
                    <%= image_tag('item_placeholder.jpg', :width => "100%") %>
                <% end %>
            <% end %>          
        </div>              
        </div>
    </div>
</div>
