
<div class="container-fluid">
    <div class="row align-items-center mt-5">    
        <div class="col-lg-6 col-sm-12 mx-auto">
            <p class="h1 align-middle text-info">Klar Schiff</p>
            <p class="text-secondary">Suche in <%= current_user.rooms.size %> R채umen, <%= current_user.storages.size %> Ablagen, <%= current_user.items.size %> Dinge, <%= current_user.lists.size %> Listen</p>
        </div>
    </div>
    <div class="row align-items-center mt-3 mb-5">    
        <div class="col-lg-6 col-sm-12 mx-auto">
            <div class="">
                <%= form_with(url: search_search_path, method: :get, local: true) do |form| %>
                    <div class="input-group">
                        <%= form.text_field :search_string, :class=>"form-control form-control-lg" %>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><%= fa_icon "search" %> <span class="d-none d-sm-inline">Suchen</span></button>
                        </b>                        
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>    

<div class="container">

    <div class="row align-items-center mt-3 mb-3">    
        <div class="col-lg-12 col-sm-12 mx-auto">
            <div class="">
                <span class="h5">Tags</span>
                <% current_user.items.tag_counts.each do |tag| %>
                    <% if tag.taggings_count >= 0 %>          
                        <%= link_to search_search_path(:search_string => tag.name), :class => "badge badge-pill badge-light small" do %>
                            #<%= tag.name %> (<%= tag.taggings_count %>)
                        <% end %>
                    <% end %>
                <% end %>    
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 mx-auto my-1">
            <div class="">
                <span class="h5">Erw채hnungen</span>
                <% current_user.items.owner_counts.each do |tag| %>
                    <% if tag.taggings_count >= 0 %>          
                        <%= link_to search_search_path(:search_string => tag.name), :class => "badge badge-pill badge-light small" do %>
                            @<%= tag.name %> (<%= tag.taggings_count %>)
                        <% end %>
                    <% end %>
                <% end %>    
            </div>
        </div>

        <div class="col-lg-12 col-sm-12 mx-auto my-1">
            <div class="">
                <span class="h5">Listen</span>
                <% current_user.lists.each do |list| %>
                    <% if list.list_items.count >= 0 %>          
                        <%= link_to list_path(list), :class => "badge badge-pill badge-light small" do %>
                            @<%= list.name %> (<%= list.list_items.count %>)
                        <% end %>
                    <% end %>
                <% end %>    
            </div>
        </div>        
    </div>      

    <% if (@rooms && @storages && @items && @lists) %>
        <p>
            <i><%= @rooms.size  + @storages.size + @items.size + @lists.size %> Treffer f체r <b><%= params[:search_string] %></b></i>
        </p>
    <% elsif (params[:search_string] == "" || params[:search_string] == nil ) %>
        <p>
            <i>Keine Treffer</i>
        </p>  
    <% end %>

    <% if @rooms != nil && @rooms.size > 0 %>
    <h5 class="mt-4">R채ume</h5>
    <ul class="list-group">
        <% @rooms.each do |room| %>
            <li class="list-group-item">                
                <%= link_to room, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>

                <b>
                    <%= room.name %>
                </b>
                
                <!-- Modal buttons for image previews -->
                <a class="" data-toggle="modal" data-target="#modal-<%= room.id %>">
                    <% if room.images.first %>
                        <img src="<%= url_for(room.images.first.variant(resize_to_limit: [50, 50], auto_orient: true).processed) %>" class="mr-3 float-right" alt="...">
                    <% else %>
                        <img src="https://via.placeholder.com/50x50" class="mr-3 float-right" alt="...">
                    <% end %>
                </a>

                <br/>
                <small>
                    </b> Ablagen: <%= link_to room.storages.size, room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>

    <% if @storages && @storages.size > 0 %>
    <h5 class="mt-4">Ablagen</h5>
    <ul class="list-group">
        <% @storages.each do |storage| %>
            <li class="list-group-item">
                <%= link_to storage, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>

                <b>
                    <%= storage.name %>
                </b>

                <!-- Modal buttons for image previews -->
                <a class="" data-toggle="modal" data-target="#modal-<%= storage.id %>">
                    <% if storage.images.first %>
                        <img src="<%= url_for(storage.images.first.variant(resize_to_limit: [50, 50], auto_orient: true).processed) %>" class="mr-3 float-right" alt="...">
                    <% else %>
                        <img src="https://via.placeholder.com/50x50" class="mr-3 float-right" alt="...">
                    <% end %>       
                </a>                

                <br/>
                <small>
                    </b> Raum: <%= link_to storage.room.name, storage.room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>

    <% if @items && @items.size > 0 %>
    <h5 class="mt-4">Dinge</h5>
    <ul class="list-group">
        <% @items.each do |item| %>
            <li class="list-group-item">     
            
                <%= link_to item, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>
                                    
                <b>
                    <%= klarschiff_auto_link(item.name) %>
                </b>

                <% ListItem.where(:item_id => item.id).each do |list_item| %>
                    <% list = current_user.lists.where(:id => list_item.list_id).first %>
                    <%= link_to list_path(list) do %>
                        <span class="badge badge-pill badge-light"><%= fa_icon "list" %> <%= list.name %></span>
                    <% end %>
                <% end %>

                <!-- Modal buttons for image previews -->
                <a class="" data-toggle="modal" data-target="#modal-<%= item.id %>">
                    <% if item.images.first %>
                        <img src="<%= url_for(item.images.first.variant(resize_to_limit: [50, 50], auto_orient: true).processed) %>" class="mr-3 float-right" alt="...">
                    <% else %>
                        <img src="https://via.placeholder.com/50x50" class="mr-3 float-right" alt="...">
                    <% end %>    
                </a>

                <br/>
                <small>
                    Ablage: <%= link_to item.storage.name, item.storage %> Raum: <%= link_to item.storage.room.name, item.storage.room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %> 
    
    <% if @lists && @lists.size > 0 %>
    <h5 class="mt-4">Listen</h5>
    <ul class="list-group">
        <% @lists.each do |list| %>
            <li class="list-group-item">      
                <%= link_to list, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>

                <b>
                    <%= list.name %>                        
                </b>


            
                <br/>
                <small>
                    </b> <%= list.list_items.size %> Dinge
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>  

<!--    
    <% if @items_tagged && @items_tagged.size > 0 %>
    <h5 class="mt-4">Dinge mit Tag <span class="badge badge-pill badge-light"><i>#<%= params[:search_string] %></i></span></h5>
    <ul class="list-group">
        <% @items_tagged.each do |item| %>
            <li class="list-group-item">                          
                <%= link_to item, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>

                <b>
                    <%= klarschiff_auto_link(item.name) %>
                </b>   

                <% if item.images.first %>
                    <img src="<%= url_for(item.images.first.variant(resize_to_limit: [50, 50], auto_orient: true).processed) %>" class="mr-3 float-right" alt="...">
                <% else %>
                    <img src="https://via.placeholder.com/50x50" class="mr-3 float-right" alt="...">
                <% end %>                
                

                <br/>                    
                <small>
                    Ablage: <%= link_to item.storage.name, item.storage %> Raum: <%= link_to item.storage.room.name, item.storage.room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>    
-->    

</div>

<!-- Modal contents for image previews -->
<% if @rooms %>
    <% @rooms.each do |room| %>
    <%= render partial: "modal_content", locals: {:model => room} %>
    <% end %>
<% end %>

<% if @storages %>
    <% @storages.each do |storage| %>
    <%= render partial: "modal_content", locals: {:model => storage} %>
    <% end %>
<% end %>

<% if @items %>
    <% @items.each do |item| %>
    <%= render partial: "modal_content", locals: {:model => item} %>
    <% end %>
<% end %>
