
<div class="container-fluid">
    <div class="row align-items-center mt-5">    
        <div class="col-lg-6 col-sm-12 mx-auto">
            <p class="h1 align-middle text-info">Klar Schiff</p>
            <p class="text-secondary">Suche in <%= current_user.rooms.size %> Räumen, <%= current_user.storages.size %> Ablagen, <%= current_user.items.size %> Dinge, <%= current_user.lists.size %> Listen</p>
        </div>
    </div>
    <div class="row align-items-center mt-3 mb-5">    
        <div class="col-lg-6 col-sm-12 mx-auto">
            <div class="">
                <%= form_with(url: search_search_path, method: :get, local: true) do |form| %>
                    <div class="input-group">
                        <%= form.text_field :search_string, :class=>"form-control form-control-lg" %>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><%= fa_icon "search" %> <span class="d-none d-sm-inline">Suchen</span></button>
                        </b>                        
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <% if (@rooms && @storages && @items && @lists) %>
        <p>
            <i><%= @rooms.size  + @storages.size + @items.size + @lists.size %> Treffer</i>
        </p>
    <% elsif (params[:search_string]) %>
        <p>
            <i>Keine Treffer</i>
        </p>
    <% end %>
    
    <% if @rooms != nil && @rooms.size > 0 %>
    <h5>Räume</h5>
    <ul class="list-group">
        <% @rooms.each do |room| %>
            <li class="list-group-item">                
                <%= link_to room.name, room %>
                <br/>
                <small>
                    </b> Ablagen: <%= link_to room.storages.size, room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>

    <% if @storages && @storages.size > 0 %>
    <h5>Ablagen</h5>
    <ul class="list-group">
        <% @storages.each do |storage| %>
            <li class="list-group-item">                
                <%= link_to storage.name, storage %>
                <br/>
                <small>
                    </b> Raum: <%= link_to storage.room.name, storage.room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>

    <% if @items && @items.size > 0 %>
    <h5>Dinge</h5>
    <ul class="list-group">
        <% @items.each do |item| %>
            <li class="list-group-item">                
                <%= link_to item.name, item %>
                <br/>
                <small>
                    </b> Ablage: <%= link_to item.storage.name, item.storage %> Raum: <%= link_to item.storage.room.name, item.storage.room %>
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>
    
    <% if @lists && @lists.size > 0 %>
    <h5>Listen</h5>
    <ul class="list-group">
        <% @lists.each do |list| %>
            <li class="list-group-item">                
                <%= link_to list.name, list %>
                <br/>
                <small>
                    </b> <%= list.list_items.size %> Dinge
                </small>
            </li>
        <% end %>
    </ul>
    <% end %>    

</div>
