<div class="row">
    <div class="col-lg-12">
        <h1 class="text-info">Klar Schiff</h1>
        <hr/>
    </div>        
    
    <div class="col-lg-6">
        <%= image_tag('photo-1560697043-f880bb028f1e.jpg', :class => "img-fluid") %>
    </div>        
    
    <div class="col-lg-6">

        <h2>Warum <span class="text-info">Klar Schiff</span>?</h2>

        <p class="lead">
            Viele Dinge sind im Haus, im Büro, in der Werkstatt etc. an unterschiedlichen Stellen verstaut und somit weit verstreut. 
        </p>
        <p class="lead">
            Selten genutzte Dinge sind manchmal schwer zu finden. Dann kommt es vor, dass man es doppelt kauft. 
        </p>
        <p class="lead">            
            Bei etlichen Dingen vergisst man ganz, dass man sie hat. Ob man sie überhaupt noch braucht?
        </p>
        <p class="lead">            
            Beim Ausmisten stellt sich dann die Frage: Wo anfangen? Was soll ich behalten, was kann weg? Und was weg kann: Verkaufen, verschenken oder entsorgen?
        </p>
    </div>

    <div class="col-lg-12">
    
        <h2>Was sind die Vorteile von <span class="text-info">Klar Schiff</span>?</h2>

        <p class="lead">
            Mit <b class="text-info">Klar Schiff</b> kannst du ein digitales Abbild von Dingen erstellen, die an allen möglichen Stellen aufbewahrt sind. 
        </p>

        <p class="lead">
            Durch <b class="text-info">Klar Schiff</b> kannst du 
            <ol class="lead">
                <li class="lead"><b>Zeit sparen:</b> Behalte den Überblick über deine Dinge und finde sie schneller, wenn du sie brauchst.</li>
                <li class="lead"><b>Geld sparen:</b> Vermeide doppelte und dreifache Anschaffungen einfach dadurch, dass du weißt welche Dinge du schon hast und wo sie sind. </li>
                <li class="lead"><b>Geld verdienen:</b> Werde dir klar welche Dinge du nicht mehr brauchst und verkaufen kannst. </li>
            </ol>
        </p>
    </div>
</div>        
        
<div class="row mt-5">
    <div class="col-lg-6">        
        <h2>Wie funktioniert <span class="text-info">Klar Schiff</span>?</h2>

        <ol class="lead">
            <li>
                Erstelle <b>Räume</b> mit <b>Ablagen</b>, in denen alle möglichen <b>Dinge</b> aufbewahrst.
            </li>
            <li>
                Füge <b>Bilder</b> zu deinen Räumen, Ablagen und Dingen hinzu, damit du siehst, worum es sich handelt und was in deinen Räumen und Ablagen enthalten ist.
            </li>
            <li>
                Nutze die <b>Suche</b>, um Dinge in Räumen und Ablagen schneller zu finden. 
            </li>
            <li>
                Erstelle <b>Listen</b> von Dingen, mit denen du etwas machen willst (umräumen, verkaufen, verschenken, entsorgen, etc.)                
            </li>
        </ol>       

    </div>


    <div class="col-lg-6">  

        <%= image_tag('keller_regal.jpg', :class => "img-fluid") %>
    
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-12">        
        <h2>Wie sieht die <span class="text-info">Klar Schiff</span> App aus?</h2>    
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto p-3">
        
        <div class="card-body px-0">
            <h5 class="card-title text-info">Menü</h5>
            
            <p class="card-text lead">Alles Wichtige zur Navigation findest du im Menü</p>
            <!--
            <a href="#" class="btn btn-primary">Go somewhere</a>
            -->
        </div>        
        <%= image_tag('Klarschiff_Menu.png', :class => "card-img-top border", :alt => "Menu") %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto p-3">
        
        <div class="card-body px-0">
            <h5 class="card-title text-info">Räume</h5>
            
            <p class="card-text lead">Räume und Ablagen helfen dir bei der Orientierung und geben deinen Dingen Struktur.</p>
            <!--
            <a href="#" class="btn btn-primary">Go somewhere</a>
            -->
        </div>          
        <%= image_tag('Klarschiff_Rooms.png', :class => "card-img-top border", :alt => "Menu") %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto p-3">
        
        <div class="card-body px-0">
            <h5 class="card-title text-info">Ablagen</h5>
            
            <p class="card-text lead">Ablagen sparen Zeit beim Erfassen deiner Dinge und helfen dir beim Wiederfinden.</p>
            <!--
            <a href="#" class="btn btn-primary">Go somewhere</a>
            -->
        </div>          
        <%= image_tag('Klarschiff_Storages.png', :class => "card-img-top border", :alt => "Menu") %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto p-3">
        
        <div class="card-body px-0">
            <h5 class="card-title text-info">Listen</h5>
            
            <p class="card-text lead">Füge deine Dinge zu Listen hinzu. So kannst du alle Dinge zusammenstellen, mit denen du etwas machen möchtest.</p>
            <!--
            <a href="#" class="btn btn-primary">Go somewhere</a>
            -->
        </div>          
        <%= image_tag('Klarschiff_List.png', :class => "card-img-top border", :alt => "Menu") %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto p-3">
        
        <div class="card-body px-0">
            <h5 class="card-title text-info">Suche</h5>
            
            <p class="card-text lead">Mit Hilfe der Suche kannst du alle Dinge schnell finden. Quick-Links zu Tags, Erwähnungen und Listen helfen dir gleiche Dinge noch schneller zu finden. </p>
            <!--
            <a href="#" class="btn btn-primary">Go somewhere</a>
            -->
        </div>          
        <%= image_tag('Klarschiff_Search.png', :class => "card-img-top border", :alt => "Menu") %>
    </div>                

    <!--
    <div class="col-lg-4">  
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag('Klarschiff_Menu.png', :class => "d-block w-100", :alt => "Menu") %>
                </div>
                <div class="carousel-item">
                    <%= image_tag('Klarschiff_Rooms.png', :class => "d-block w-100", :alt => "Rooms") %>
                </div>
                <div class="carousel-item">
                    <%= image_tag('Klarschiff_Storages.png', :class => "d-block w-100", :alt => "Storages") %>
                </div>
                <div class="carousel-item">
                    <%= image_tag('Klarschiff_List.png', :class => "d-block w-100", :alt => "List view") %>
                </div>
                <div class="carousel-item">
                    <%= image_tag('Klarschiff_Search.png', :class => "d-block w-100", :alt => "Search") %>
                </div>                
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    -->       
</div> 

<%= render partial: "early_access_request" %>