
<div class="row">
    <div class="col-lg-6">
        <p class="h1 my-5 text-info">
            Mit <b>Klar Schiff</b> kannst du Gegenstände einfacher organisieren.
        </p>
        <p class="lead">
            Erstelle ein Abbild von Gegenständen dort, wo sie sich befinden: in Gebäuden, Räumen und Ablagen. 
            Dadurch hast du alles immer im Blick und weißt, was du hast und wo es ist. 
            Mit der Suche findest du alles schnell, wenn du es brauchst. 
            Teile Gebäude, Räume, Ablagen, Gegenstände oder Listen mit anderen. 
        </p>
    </div>
    <div class="col-lg-6">
        <p class="pt-5">
        <!--<%= image_tag('photo-1560697043-f880bb028f1e.jpg', :class => "img-fluid") %>-->
        <%= image_tag('garage3.jpg', :class => "img-fluid") %>
        </p>
    </div>            
</div>

<div class="row">
    <div class="col-lg-12">
        <p class="h1 my-5 text-info">
            Wofür kannst du Klar Schiff verwenden?
        </p>
    </div>
</div>    
        
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ausmisten</h5>
                <h6 class="card-subtitle mb-2 text-muted">Private Haushalte</h6>
                <p class="card-text">
                    Bring deinen Haushalt auf Vordermann! 
                    Erfasse alles systematisch, um Ungenutzes zu Verkaufen, zu Verschenken oder zu Entsorgen. 
                </p>
                <!--
                <%= link_to "Weiterlesen", pages_use_case_1_path %>
                -->
            </div>
        </div>        
    </div>

    <div class="col-lg-4">
        <div class="card col">
            <div class="card-body">
                <h5 class="card-title">Dinge gemeinsam nutzen</h5>
                <h6 class="card-subtitle mb-2 text-muted">Familie, Büro, Verein</h6>
                <p class="card-text">
                    Mache Dinge in gemeinsam genutzten Räumen und Ablagen für alle sichtbar. 
                </p>
                <!--
                <%= link_to "Weiterlesen", pages_use_case_2_path %>
                -->
            </div>
        </div>        
    </div>

    <div class="col-lg-4">
        <div class="card col">
            <div class="card-body">
                <h5 class="card-title">Haushalt auflösen</h5>
                <h6 class="card-subtitle mb-2 text-muted">Private Haushalte</h6>
                <p class="card-text">
                    <!--Bei Trennungen oder beim Erben herrscht häufig Uneinigkeit, wer was behalten darf oder erhalten soll.-->
                    Schaffe mehr Transparenz damit alles fair zugeht, wer was behalten darf oder erhalten soll.. 
                </p>
                <!--
                <%= link_to "Weiterlesen", pages_use_case_3_path %>
                -->
            </div>
        </div>                
    </div>        
</div>


<%= render partial: "early_access_request" %>

<hr/>

<div class="row my-5">
    <div class="col-lg-4">
        <p class="h2 my-3 text-info">
            Organisieren
        </p>
        <p class="lead">
            Erstelle Gebäude, Räume, Ablagen um deine Dinge zu organisieren. 
            Mit Bildern hast du alles im Blick. 
        </p>
    </div>
    <div class="col-lg-8">
        <%= image_tag('Klarschiff_Rooms.png', :class => "d-inline-block border", :alt => "Räume") %>
        <!--
        <%= image_tag('Klarschiff_Storages.png', :class => "d-inline-block border", :alt => "Ablagen") %>
        -->
    </div>    
</div>

<hr/>

<div class="row my-5">
    <div class="col-lg-4 offset-lg-8">
        <p class="h2 my-3 text-info">
            Listen erstellen
        </p>
        <p class="lead">
            Füge deine Dinge zu Listen hinzu um etwas mit ihnen zu machen. 
        </p>
    </div>    
    <div class="col-lg-8">
        <%= image_tag('Klarschiff_List.png', :class => "d-block border", :alt => "Listen") %>
    </div>    
</div>

<hr/>

<div class="row my-5">
    <div class="col-lg-4">
        <p class="h2 my-3 text-info">
            Finden
        </p>
        <p class="lead">
            Mit der Suche findest du alles ganz schnell. 
            Auch, was andere mit dir geteilt haben. 
        </p>
    </div>
    <div class="col-lg-8">
        <%= image_tag('Klarschiff_Search.png', :class => "d-block border", :alt => "Suche") %>
    </div>      
</div>

<hr/>

<div class="row my-5">
    <div class="col-lg-4 offset-lg-8">
        <p class="h2 my-3 text-info">
            Zusammenarbeiten
        </p>
        <p class="lead">            
            Teile Gebäude, Räume, Ablagen, Gegenstände oder Listen mit anderen. 
            Somit könnt ihr Dinge einfacher gemeinsam nutzen. 
        </p>
    </div>
    <div class="col-lg-8">
        <%= image_tag('Klarschiff_Search.png', :class => "d-block border", :alt => "Suche") %>
    </div>          
</div>

<hr/>

<%= render partial: "early_access_request" %>




<!--
<table class="table">
    <thead>
        <th>Customer segment</th>
        <th>Rolle</th>
        <th>Jobs-to-be-done</th>
        <th>Pains</th>
        <th>Gains</th>
    </thead>
    <tbody>
        <tr>
            <td>Unternehmen</td>
            <td>Unternehmen als wirtschaftlich handelnde Einheit</td>
            <td>
                <ul>
                    <li>Resourcen sinnvoll nutzen</li>
                    <li>Doppel- bzw. Mehrfachanschaffungen vermeiden</li>
                    <li>Auslastung erhöhen</li>
                    <li>Keine ungenutzten Dinge anschaffen</li>
                </ul>
            </td>
            <td>

            </td>
            <td>
                <ul>
                    <li>Weniger Ausgaben für Materialanschaffungen</li>
                    <li>Mehr Transparenz</li>
                    <li>Mehr Zusammenarbeit zwischen Mitarbeit</li>
                    <li>Kosteneinsparungen bei Materialanschaffungen</li>
                    <li>Weniger Lagerhaltungskosten</li>
                    <li>Weniger benötigter Stauraum => mehr Platz, günstigere Bürpflächen</li>
                    <li>Weniger </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Privatpersonen
            </td>
            <td>
                Einzelperson: ich mit meinen eigenen Dingen, die mir gehören
            </td>
            <td>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Es ist schwierig sich zu merken auf welche Dinge man potentiell Zugriff hat (eigene Dinge, Ausleihen von anderen)</li>
                    <li>Nachfragen kostet mehr Überwindung als über eine App zu kommunizieren</li>
                    <li></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Bilder, auf denen man Dinge sehen kann</li>
                    <li>Schnell finden => gute Suche</li>
                    <li></li>
                </ul>                        
            </td>
        </tr>
    </tbody>
</table>

<ul>
    <li>Superkondo = Mari Kondo für Unternehmen</li>
</ul>
-->