<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h3><%= link_to @storage.room.name, @storage.room %> -> <%= @storage.name %></h3>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to @storage, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %> Destroy<% end %>

<br/><br/>

<div class="row">
  <div class="col-lg-8">
  <% @storage.images.each do |image| %>
    <img src="<%= url_for(image) %>" class="card-img-top img-thumbnail" alt="...">  
  <% end %>
  <% if @storage.images.size == 0 %>
    <img src="https://via.placeholder.com/800x600" class="card-img-top img-thumbnail" alt="...">  
  <% end %>
  </div>

  <div class="col-lg-4">
    
    <div class="list-group sticky-top">

      <%= form_with(model: [@storage, Item.new], local: true) do |form| %>

        <div class="input-group mb-3">          
          <%= form.text_field(:name, :class => "form-control")  %>
          <div class="input-group-append">
            <%= form.submit :class => "btn btn-primary" %>
          </div>
        </div>        

      <% end %>      
    
      <% @storage.items.each do |item| %>
        <%= link_to item.name, item, :class=>"list-group-item list-group-item-action" %>
      <% end %>
    </div>  

  </div>

</div>


