<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h3><%= link_to @storage.room.name, @storage.room %> - <%= @storage.name %></h3>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to @storage, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %> Destroy<% end %> |
<%= link_to 'Back', room_path(@storage.room) %> 
