<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1 class="text-info">Räume</h1>

<div class="row">
  <div class="col-lg-6 col-md-12">
  <%= form_tag(rooms_path, method: :get, :class=>"form-group") do %>
    <div class="input-group">
      <%= text_field_tag :search, "",:class=>"form-control", :placeholder=>"" %>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary">
          <%= fa_icon "search" %> Suchen
        </button>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= link_to new_room_path, :class => "btn btn-sm btn-primary float-left" do %>  
  <%= fa_icon "plus" %> Neuer Raum
<% end %>

<br/><br/>

<div class="row">
<% @rooms.each do |room| %>
  <div class="col-lg-3 col-md-4 col-sm-12 col-12">
    <div class="d-inline-flex w-100">
      <%= link_to room do %>
        <% if room.images.first %>
          <img src="<%= url_for(room.images.first.variant(resize_to_limit: [400, 300], auto_orient: true).processed) %>" class="w-100" alt="...">          
        <% else %>
          <%= image_tag('room_placeholder.jpg', :class => "mr-3 float-right", :width => "300") %>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex d-flex-row mb-4">
      <div class="flex-fill bd-highlight">
        <h5 class="mt-0">
          <%= klarschiff_auto_link(room.name) %>                 
          <br/>        
          <small>        
            in <%= room.building.name %>
            <br/>
            hat <%= room.storages.count %> Ablagen
          </small>
        </h5>              
      </div>
      <div class="flex-fill bd-highlight">
        <span class="badge badge-pill badge-light"><%= room.images.count.to_s %> Bilder </span>
        <small>
          Größe: <%= bytes_to_megabytes(image_sizes(room)).round(2) %> MB
        </small>
      </div>      
    </div>
  </div>
<% end %>
</div>