<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1>Rooms</h1>

<%= link_to new_room_path, :class => "btn btn-sm btn-primary float-left" do %>
    <%= fa_icon "plus" %> New Room
<% end %>

<br/><br/>

<div class="list-group">
  <% @rooms.each do |room| %>
  <%= link_to room.name, room, :class=>"list-group-item list-group-item-action" %>
  <% end %>
</div>

<!--
<table class="table table-bordered  table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>      
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to room do %><%= fa_icon "eye" %> Show <% end %></td>
        <td><%= link_to edit_room_path(room) do %><%= fa_icon "pencil" %> Edit<% end %></td>
        <td><%= link_to room, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %> Destroy<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
