<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1>Rooms</h1>

<%= link_to new_room_path, :class => "btn btn-sm btn-primary float-left" do %>
    <%= fa_icon "plus" %> New Room
<% end %>

<br/><br/>

<% @rooms.each do |room| %>
  <div class="card">
    <div class="card-body">
      <div class="d-inline-flex">
        <% if room.images.first %>
        <img src="<%= url_for(room.images.first) %>" class="mr-3 img-thumbnail" alt="..." width="125px" height="125px">
        <% else %>
        <img src="https://via.placeholder.com/125" class="mr-3 img-thumbnail" alt="..." width="125px" height="125px">
        <% end %>
      </div>
      <div class="d-inline-flex align-top">
        <h5 class="mt-0">
          <%= link_to room.name, room%>
          <!--
          <br/>
          <small><%= link_to room.storages.count, room %> storages with </small>
          -->
        </h5>        
      </div>
    </div>
  </div>
<% end %>