<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1>Rooms</h1>

<%= link_to new_room_path, :class => "btn btn-sm btn-primary float-left" do %>
    <%= fa_icon "plus" %> New Room
<% end %>

<br/><br/>

<div class="row">
<% @rooms.each do |room| %>
  <div class="col-lg-3 col-md-4 col-sm-12 col-12">
    <div class="card-body">
      <div class="d-inline-flex">
        <% if room.images.first %>
        <img src="<%= url_for(room.images.first.variant(resize_to_limit: [300, 200], auto_orient: true)) %>" class="mr-3 img-thumbnail" alt="...">
        <% else %>
        <img src="https://via.placeholder.com/300x200" class="mr-3 img-thumbnail" alt="...">
        <% end %>
      </div>
      <div class="d-inline-flex align-top">
        <h5 class="mt-0">
          <%= link_to room.name, room%>
          <br/>
          <small><%= link_to room.storages.count.to_s + " storages", room %>  with <%= items_count(room) %> items in total</small>
        </h5>        
      </div>
    </div>
  </div>
<% end %>
</div>