<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1>Räume</h1>

<div class="row">
  <div class="col-lg-6 col-md-12">
  <%= form_tag(rooms_path, method: :get, :class=>"form-group") do %>
    <div class="input-group">
      <%= text_field_tag :search, "",:class=>"form-control", :placeholder=>"" %>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary">
          <%= fa_icon "search" %> Suchen
        </button>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= link_to new_room_path, :class => "btn btn-sm btn-primary float-left" do %>  
  <%= fa_icon "plus" %> Neuer Raum
<% end %>

<br/><br/>

<div class="row">
<% @rooms.each do |room| %>
  <div class="col-lg-3 col-md-4 col-sm-12 col-12">
    <div class="d-inline-flex">
      <%= link_to room do %>
        <% if room.images.first %>
        <img src="<%= url_for(room.images.first.variant(resize_to_limit: [300, 200], auto_orient: true)) %>" class="mr-3 img-thumbnail" alt="...">
        <% else %>
        <img src="https://via.placeholder.com/300x200" class="mr-3 img-thumbnail" alt="...">
        <% end %>
      <% end %>
    </div>
    <div class="d-inline-flex align-top mb-4">
      <h5 class="mt-0">
        <%= link_to room.name, room%>
        <br/>
        <small><%= link_to room.storages.count.to_s + " Ablagen", room %>  mit <%= items_count(room) %> Dingen</small>
      </h5>        
    </div>
  </div>
<% end %>
</div>