<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h3><%= @room.name %></h3>
<hr/>

<h4>Images
  <small>
    <span class="badge badge-pill badge-info"><%= @room.images.count.to_s %></span>
  </small>
</h4>

<!--
<ul>
  <% @room.images.each do |image| %>
  <li>
    <img src="<%= url_for(image) %>"> | 
    <a href="<%= rails_blob_path(image, disposition: 'attachment') %>">Download</a>
  </li>
  <% end %>
</ul>
-->

<div class="row">
<% @room.images.each do |image| %>
  <div class="col-sm-2">
    <img src="<%= url_for(image) %>" class="card-img-top" alt="...">
  </div>
<% end %>
</div>

<!--
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @room.images.each_with_index  do |image, index| %>
    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= (index == 0) ? 'active' : '' %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @room.images.each do |image| %>
    <div class="carousel-item active">
      <img src="<%= url_for(image) %>" class="d-block w-100 h-20" alt="...">
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->


<%= link_to new_room_storage_path(@room), :class => "btn btn-sm btn-primary float-left" do %>
    <%= fa_icon "plus" %> New Storage
<% end %>

<br/><br/>

<div class="list-group">
  <% @storages.each do |storage| %>
  <%= link_to storage.name, storage, :class=>"list-group-item list-group-item-action" %>
  <% end %>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to @room, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %> Destroy<% end %> |
<%= link_to 'Back', rooms_path %>
