<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h3><%= @room.name %></h3>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to @room, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %> Destroy<% end %>

  <br/><br/>

  <div class="row">
    <div class="col-lg-6 col-md-6">

      <% if @room.images.size > 0 %>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @room.images.each_with_index do |image, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" ></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @room.images.each_with_index do |image, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : ''%> ">
            <img class="d-block w-100" src="<%= url_for(image.variant(auto_orient: true)) %>" alt="First slide">
          </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>  

      <% else %>
        <img src="https://via.placeholder.com/800x600" class="card-img-top img-thumbnail" alt="...">  
      <% end %>    

    </div>  
  
    <div class="col-lg-6 col-md-6">
      
      <div class="list-group sticky-top">
  
        <%= form_with(model: [@room, Storage.new], local: true) do |form| %>
  
          <div class="input-group mb-3">          
            <%= form.text_field(:name, :class => "form-control")  %>
            <div class="input-group-append">
              <%= form.submit :class => "btn btn-primary" %>
            </div>
          </div>        
  
        <% end %>      
      
        <% @room.storages.each do |storage| %>
          <%= link_to storage, :class=>"list-group-item list-group-item-action" do %> 
            <%= storage.name %> <span class="badge badge-pill badge-info float-right"><%= storage.items.count.to_s %></span>
          <% end %>
        <% end %>
      </div>  
      
    </div>
  
  </div>
