<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1 class="text-info">Dinge</h1>

<div class="row">
  <div class="col-lg-6 col-md-12">
  <%= form_tag(items_path, method: :get, :class=>"form-group") do %>
    <div class="input-group">
      <%= text_field_tag :search, "",:class=>"form-control", :placeholder=>"" %>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary">
          <%= fa_icon "search" %> Suchen
        </button>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="row">
<% @items.each do |item| %>
  <div class="col-lg-3 col-md-4 col-sm-12 col-12">
    <div class="d-inline-flex">
      <%= link_to item do %>
        <% if item.images.first %>
          <% begin %>
            <img src="<%= url_for(item.images.first.variant(resize_to_limit: [300, 200], auto_orient: true).processed) %>" class="w-100" alt="...">
          <% rescue ActiveStorage::FileNotFoundError => e %>
            <% item.images.first.purge_later %>
          <% end %>        
        <% else %>
          <%= image_tag('item_placeholder.jpg', :class => "w-100") %>        
        <% end %>
      <% end %>
    </div>
    <div class="d-flex d-flex-row mb-4">
        <div class="flex-fill bd-highlight">
        <h5 class="mt-0">        
          <%= klarschiff_auto_link(item.name) %>

          <% ListItem.where(:item_id => item.id).each do |list_item| %>
            <% list = current_user.lists.where(:id => list_item.list_id).first %>
            <%= link_to list_path(list) do %>
                <span class="badge badge-pill badge-light"><%= fa_icon "list" %> <%= list.name %></span>
            <% end %>
          <% end %>                
          <br/>
          <small>
            <%= link_to item.storage.name, item.storage %> im <%= link_to item.storage.room.name, item.storage.room %>
          </small>
          <br/>
        </h5>
      </div> 
      <div class="flex-fill bd-highlight">
        <span class="badge badge-pill badge-light">
          <%= item.images.count.to_s %> Bilder 
          <small>
            Größe: <%= bytes_to_megabytes(image_sizes(item)).round(2) %> MB
          </small>
        </span>
      </div>   
    </div>         
  </div>
<% end %>
</div>

<%= will_paginate @items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>