<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h1>Items</h1>

<ul class="list-group">
  <% @items.each do |item| %>
    <li class="list-group-item list-group-item-action">
      <%= link_to item.name, item%> im <%= link_to item.storage.name, item.storage %> im <%= link_to item.storage.room.name, item.storage.room %>
    </li>
  <% end %>
</ul>

<!--
<table class="table table-bordered  table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= link_to item do %><%= fa_icon "eye" %> Show <% end %></td>
        <td><%= link_to edit_item_path(item) do %><%= fa_icon "pencil" %> Edit<% end %></td>
        <td><%= link_to item, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon "trash" %> Destroy<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->