<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<h3><%= link_to @item.storage.room.name, @item.storage.room %> -> <%= link_to @item.storage.name, @item.storage %> -> <%= @item.name %></h3>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to edit_item_path(@item), :class=>"btn btn-sm btn-outline-secondary" do %><%= fa_icon "edit" %> Ändern <% end %>
  <%= link_to @item, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-sm btn-outline-danger" do %><%= fa_icon "trash" %> Löschen<% end %>
</div>

<br/><br/>

<div class="row">
  <% @item.images.each do |image| %>
  <div class="col-sm-3">
    <img src="<%= url_for(image.variant(auto_orient: true)) %>" class="card-img-top img-thumbnail" alt="...">
  </div>
  <% end %>
</div>


<p>
    <%= @item.description %>
</p>