<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice.html_safe %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>    
</div>
<% end %>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h1 class="text-info">
      <%= @storage.name %>
      <% if !is_shared(@storage) %>
      <div class="dropleft float-right" style="z-index: 1021">
        <a href="#" class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon "edit" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to edit_storage_path(@storage), :class=>"dropdown-item" do %><%= fa_icon "edit" %> Ändern <% end %>
          <%= link_to storage_sharing_group_members_path(@storage), :class=>"dropdown-item" do %><%= fa_icon "share-alt" %> Teilen <% end %>
          <%= link_to edit_images_storage_path(@storage), :class=>"dropdown-item" do %><%= fa_icon "image" %> Bilder <% end %>
          <%= link_to download_image_attachments_storage_path(@storage, :format => "zip"), :class => "dropdown-item" do %><%= fa_icon "download" %></i> Bilder herunterladen<% end %>
          <%= link_to @storage, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"dropdown-item text-danger" do %><%= fa_icon "trash" %> Löschen<% end %>
          <%= link_to delete_items_storage_path(@storage), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"dropdown-item text-danger" do %><%= fa_icon "trash" %> Alle Dinge löschen<% end %>          
        </div>
      </div>    
      <% end %>
    </h1>
    <h6>
      <%= link_to @storage.room.name, @storage.room %>
    </h6>

    <!--
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to edit_storage_path(@storage), :class=>"btn btn-sm btn-outline-secondary" do %><%= fa_icon "edit" %> Ändern <% end %>
      <%= link_to edit_images_storage_path(@storage), :class=>"btn btn-sm btn-outline-secondary" do %><%= fa_icon "image" %> Bilder <% end %>
      <%= link_to @storage, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-sm btn-outline-danger" do %><%= fa_icon "trash" %> Löschen<% end %>
    </div>
    -->
  </div>
</div>

<div class="row p-0">

  <div class="col-lg-8 col-md-12">

    <% if @storage.images.size > 0 %>    
    <div id="carouselExampleIndicators" class="carousel slide">
      <ol class="carousel-indicators">
        <% @storage.images.each_with_index do |image, index| %>
          <%= link_to storage_image_path(@storage, image) do %>
            <li data-target="#carouselExampleIndicators" ></li>
          <% end %>
        <% end %>
      </ol>
      <div class="carousel-inner">        
        <div class="carousel-item active ">
          <img class="d-block w-100" src="<%= url_for(@image.variant(auto_orient: true, resize: '1200x800^').processed) %>">
        </div>        
      </div>
      <a class="carousel-control-prev" href="<%= @previous_image != nil ? storage_image_path(@storage, @previous_image) : storage_image_path(@storage, @last_image) %>" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="<%= @next_image != nil ? storage_image_path(@storage, @next_image) : storage_image_path(@storage, @first_image) %>" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    <div class="container">
      <div class="row flex-row flex-nowrap " style="overflow-x: scroll;">       
        <% @storage.images.each_with_index do |image, index| %>
          <%= link_to storage_image_path(@storage, image) do %>
            <img class="d-inline px-1 my-2" src="<%= url_for(image.variant(auto_orient: true, resize: 'x100').processed) %>">
          <% end %>
        <% end %>    
      </div>
    </div>

    <% else %>
      <%= link_to edit_images_storage_path(@storage), :class => "btn btn-block" do %>
        <%= image_tag('storage_placeholder.jpg', :class => "img-fluid position-relative", :width => "800") %>
      <% end %>
    <% end %>
    
  </div>

  <div class="col-lg-4 col-md-12 mt-2">
    <h4>
      <% items_count = @storage.items.count %>
      <%= items_count %> <%= items_count == 1 ? "Ding" : "Dinge" %>
    </h4>
    <div class="list-group sticky-top">

      <%= form_with(model: [@storage, Item.new], local: true) do |form| %>

        <div class="input-group mb-3">          
          <%= form.text_field(:name, :class => "form-control")  %>
          <%= hidden_field_tag(:image_id, @image.id) %>
          <div class="input-group-append">            
            <button class="btn btn-primary">
              <%= fa_icon "plus" %> Hinzufügen
            </button>            
          </div>
        </div>        

      <% end %>      
    
      <% @storage.items.order(updated_at: :desc).each do |item| %>
        <div class="list-group-item">
          <%= link_to item, :class => "btn btn-lg btn-outline-primary float-left mr-2" do %><%= fa_icon "angle-right" %><% end %>
          
          <b>
            <%= klarschiff_auto_link(item.name) %>
          </b>

          <!-- Modal buttons for image previews -->
          <a class="" data-toggle="modal" data-target="#modal-<%= item.id %>">
            <% if item.images.first %>
                <% begin %>
                  <img src="<%= url_for(item.images.first.variant(resize_to_limit: [50, 50], auto_orient: true).processed) %>" class="mr-3 float-right" alt="...">                
                <% rescue ActiveStorage::FileNotFoundError => e %>
                  <% item.images.first.purge_later %>
                <% end %>
            <% else %>
                <%= image_tag('item_placeholder.jpg', :class => "mr-3 float-right", :width => "50", :height => "50") %>
            <% end %>             
          </a>              
                
          <br/>
          <!--
          <% item.tags.each do |tag| %>
              <span class="badge badge-pill badge-light"><i>#<%= tag.name %></i></span>
          <% end %>
          <br/>                    
          -->      

          <% if klarschiff_show_image_details %>
          <span class="badge badge-pill badge-light">
            <%= item.images.count.to_s %> Bilder 
            <small>
              Größe: <%= bytes_to_megabytes(image_sizes(item)).round(2) %> MB
            </small>
          </span>
          <% end %>

          <% ListItem.where(:item_id => item.id).each do |list_item| %>
            <% list = List.where(:id => list_item.list_id).first %>
            <%= link_to list_path(list) do %>
              <span class="badge badge-pill badge-light"><%= fa_icon "list" %> <%= list.name %></span>
            <% end %>
          <% end %>          
          
        </div>
      <% end %>
    </div>  
  </div>

</div>


<!-- Modal contents for image previews -->
<% @storage.items.each do |item| %>

  <div class="modal fade" id="modal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-<%= item.id %>" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= item.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if item.images.first %>
          <% begin %>            
            <img src="<%= url_for(item.images.first.variant(resize_to_limit: [1200, 1000], auto_orient: true).processed) %>" class=" mr-3 float-right" alt="...">
          <% rescue ActiveStorage::FileNotFoundError => e %>
            <% item.images.first.purge_later %>
          <% end %>                
        <% else %>
          <%= image_tag('item_placeholder.jpg', :class => "mr-3 float-right", :width => "400") %>
        <% end %>          
      </div>              
    </div>
  </div>
  </div>

<% end %>