<!DOCTYPE html>
<html lang="en">

<head>
  <title>Klar Schiff</title>

  <!-- Required meta tags for Bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', 'turbolinks-track': 'true' %>  
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
  
</head>

<body>
  <div class="background-image">

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading "><span class="text-info">Klar Schiff</span></div>
      <div class="list-group list-group-flush sticky-top">
        <% if current_user != nil %>
          <b class="list-group-item list-group-item-action bg-light" disabled><%= fa_icon "boxes" %> Orte & Dinge</b>
          <%= link_to rooms_url, :class=>"list-group-item list-group-item-action bg-light" do %>Räume <span class="badge badge-pill badge-secondary float-right"><%= current_user.rooms.all.count %> / <%= Room.all.count %></span><% end %>
          <%= link_to storages_url, :class=>"list-group-item list-group-item-action bg-light" do %>Ablagen <span class="badge badge-pill badge-secondary float-right"><%= current_user.storages.all.count %> / <%= Storage.all.count %></span><% end %>
          <%= link_to items_url, :class=>"list-group-item list-group-item-action bg-light" do %>Dinge <span class="badge badge-pill badge-secondary float-right"><%= current_user.items.all.count %> / <%= Item.all.count %></span><% end %>
          
          <b class="list-group-item list-group-item-action bg-light" disabled><%= fa_icon "list" %> Listen</b>
          <% current_user.lists.each do |list| %>
            <%= link_to list_path(list), :class => "list-group-item list-group-item-action bg-light" do %><%= list.name %><% end %>
          <% end %>
          <div class="list-group-item bg-light" href="#">
            <%= link_to new_list_path, :class => "btn btn-primary float-right" do %><%= fa_icon "plus" %></i> Neue Liste<% end %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menü</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!--
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            -->
            <li class="nav-item">              
              <%= link_to "Home", root_path, :class => "nav-link" %>
            </li>                  
            <% if !user_signed_in? %>
            <!--
            <li class="nav-item">              
              <%= link_to "Registrieren", new_user_registration_path, :class => "btn btn-primary" %>
            </li>     
            -->       
            <li class="nav-item">
              <%= link_to "Einloggen", new_user_session_path, :class => "nav-link" %>              
            </li>
            <% else %>
              <li class="nav-item">              
                <%= link_to "Zur App", pages_home_path, :class => "nav-link" %>
              </li>   
              <%= link_to "Ausloggen", destroy_user_session_path, :class => "nav-link", :method => :delete %>              
                        
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mein Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Ändern", edit_user_registration_path, :class => "dropdown-item" %>
                  <!--
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                  -->
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">

        <%= yield %>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  </div>
  <!-- /.background-image -->



  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
